html, body {
    height: 100%;
}

body {
    margin: 0;
    overflow-x: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

header {
    padding: 1rem 2rem;
    border-bottom: 1px solid white;
    z-index: 20;
    a {
        color: white !important;
        text-decoration: none !important;
    }
}

.container {
    width: 85vw;
    margin: 0 auto;
}

.home-logo {
    width: 7%;
}

.header-item{
    padding-left: 15px;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input::-ms-reveal,
input::-ms-clear {
    display: none;
}